.box {
    height: 60px;
    width: 275px;
    position: relative;
    display: grid;
}

.shops {
    height: 60px;
    position: relative;
    width: 277px;
}

.overlap-group {
    background-color: #ffffff;
    border: 1px solid #cabaff;
    border-radius: 10px;

}



.text-wrapper {
    color: #9e9c9f;
    font-family: "Gilroy-Semibold", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
}


@media screen and (max-width: 768px) {
  .box {
        width: 100%;

    }
}