
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1176px;
    position: relative; /* Добавляем позиционирование */

}
.Text{
    font-family: "Despair Display", sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #2a2f33;
    text-align: left;
    line-height: 3em;

}
.PopularNow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}


@media screen and (max-width: 768px) {

    .Text{
        font-size: 1.5em;
        line-height: 28px;

    }
    .container img{
        height: 50px;
    }

}