.marketplaces {
    background-color: #ffffff;
    border-radius: 22px;
    height: auto; /* Используем автоматическую высоту */
    position: relative;
    max-width: 949px; /* Максимальная ширина, чтобы не выходить за пределы экрана */
    padding: 20px; /* Добавляем отступы для контента */
}

.text-wrapper {
    color: black;
    font-family: "Gilroy", Helvetica;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin: 30px;
}

.title {
    text-align: center; /* Центрируем текст */
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

.SEARCH {
    margin-bottom: 20px; /* Добавляем отступ снизу */
}
.all{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.overlap-group {
    background-color: #ffffff;
    border: 1px solid #cabaff;
    border-radius: 10px;
    padding: 10px; /* Добавляем отступы */
    margin-bottom: 20px; /* Добавляем отступ снизу */
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Gilroy", Helvetica;
    font-size: 16px;
    font-weight: 600;
    color: #9e9c9f;
    width: 100%;
    height: 60px;
    width: 689px;
}

.text-wrapper-3 {
    color: #9e9c9f;
    font-family: "Gilroy", Helvetica;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}
.SEARCH{
  display: grid;
  place-items: center;
}
.ym,
.megamarket,
.ozon,
.wb,
.frame,
.view
{
    margin-bottom: 20px; /* Добавляем отступ снизу */
    display: flex;
    flex-flow: row wrap;
    row-gap: 41px;
    column-gap: 221px;
    align-items: center;
    justify-content: center;
}


.text-wrapper-2{
    font-family: "Despair Display", sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.text-wrapper-4,
.text-wrapper-5,
.text-wrapper-6 {
    font-family: "Gilroy", Helvetica;
    font-size: 20px;
    font-weight: 600;
}
.text-wrapper-5{
    color: #9e9c9f;
    text-align: center;
}

.yandex-market,

.frame {

    width: 122px;
    height: 22px;
}
.checkboxes-instance{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.close-button{
    color: #9e9c9f;
    /*float: right;*/
    font-family: "Gilroy", Helvetica;


}

.find {
    text-align: center; /* Центрируем текст */
    padding: 10px 20px; /* Добавляем отступы вокруг текста */
    background-color: #2a2f33;
    color: #ffffff;
    border-radius: 10px;
}


.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 90%; /* Максимальная ширина для адаптации */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Черный полупрозрачный фон */
    z-index: 999; /* Больше чем у самого попапа, чтобы закрывать всю область */
}
