.Main {
    position: relative;
    width: 100%;
    margin: 3em auto;
    max-width: 1160px;
    display: grid;
    place-items: center;
    text-align: center; /* Align text horizontally */
}

.Text, .Textsecond {
    color: #2A2F33;
    font-family: "Despair Display", sans-serif;
    font-size: 4vw; /* Responsive font size */
    font-weight: 700;
    letter-spacing: 0;
    white-space: nowrap;
}

.TextThird {
    background: #CABAFF;
    border-radius: 40px;
    padding: 10px 20px; /* Adjust padding as needed */
}

.SearchBlock {
    display: flex;
    flex-direction:row;
    gap: 20px;
}
@media screen and (min-width: 768px) {
    .Text, .Textsecond {
        font-size: 40px; /* Desktop font size */
    }
}

@media screen and (orientation: portrait) {
    .Text,.Textsecond{
        display: none;
    }
}