.Main {
    height: 32px;
    position: relative;
    width: 100%;
    margin: 54px auto 0;
    max-width: 1160px;
    display: grid;
    place-items: center;
    position: relative;
}

.Text, .Textsecond {
    color: #2A2F33;
    font-family: "Despair Display", sans-serif;
    font-size: 40px;
    font-weight: 700;
    height: 11px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
}

.TextThird{
    background: #CABAFF;
    height: fit-content;
    border-radius: 40px;
    width: auto;
}

.SearchBlock{
    display: flex;
    gap: 20px;
}
