/* Card.module.css */
.container {
    width: 80%;
    max-width: 1176px;
    position: relative;

}

@keyframes ellipsis {
    0% {
        content: '';
    }
    33% {
        content: '.';
    }
    66% {
        content: '..';
    }
    100% {
        content: '...';
    }
}

.loaderText {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-family: "Despair Display", sans-serif;
}

.loaderText::after {
    content: '';
    animation: ellipsis 1.5s infinite;
}
.paginationButton {
    background-color: transparent;
    border: 2px solid purple;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 5px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.rating:before{
    content: '★';
}
.card .rating{
    color: #9E9C9F;
}

.WarningContainer{
    padding-top: 79px;
}

.arrowLeft,
.arrowRight {
    width: 40px;
    cursor: pointer;
}

.arrowLeft {
    transform: rotate(180deg);
}

.card {
    background-color: #fff;
    border-radius: 0.7em;
    height: 40em;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 260px;
    position: relative;
    /*margin-bottom: 20px;*/
    padding-top: 20px;
}

.card-content {
    padding: 0 17px;
    flex-grow: 1;
}
.filterbuttonscontainer {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 20px 0 20px 17px;
    -webkit-overflow-scrolling: touch;
}

.filter-buttons {
    display: inline-flex;
}

.filterButtons button {
    background: #F9F9FA;
    border-radius: 10px;
    color: #DBDBDB;
    border-color: #DBDBDB;
    width: fit-content;
    height: 38px;
    border: 1px solid #DBDBDB;
    padding: 0 20px;
    margin-right: 10px;
    font-family: "Gilroy-Semibold", Helvetica;
    font-size: 1em;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    white-space: nowrap;
}

.filterButtons button:hover {
    background: #E7DFFF;
    color: #CABAFF;
    border-color: #CABAFF;
}

.filterButtons button:active, .filterButtons .active {
    background: #E7DFFF;
    color: #CABAFF;
    border-color: #CABAFF;
}
.card p {
    margin-bottom: 8px;
    font-family: "Gilroy-Semibold", Helvetica;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 24px;
    color: #2A2F33;
    text-align: left;
    max-width: 80%;
    margin-left: 17px;
}

.card button {
    background-color: #2A2F33;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 43px;
    margin-bottom: 20px;
    font-family: "Gilroy-Semibold", Helvetica;
    font-size: 1.2em;
    font-weight: 800;
    line-height: 24px;
}
.mainPhoto{
    margin-left: 34px;
    width:226px;
    height:228px;
}
.card button:hover {
    background-color: #CABAFF;
}

.market {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 5px;
    flex-wrap: nowrap;
    margin-left: 17px;
}


.market p {
    margin-left: 5px;
    margin-top: 0;

}


.sliderContainer {
    /*overflow: hidden; !* Добавляем overflow для скрытия выхода за границы *!*/
}

.cardConteiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .card{
width: 206px;
        height: 304px;
    }
    .mainPhoto{
        margin-left: 14px;
        width:90%;
        height:160px;
    }
}

.arrowsContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.arrowLeft,
.arrowRight {
    width: 40px;
    cursor: pointer;
}

.arrowRight {
    transform: rotate(180deg);
}.arrowLeft {
     transform: rotate(360deg);
 }

 @media screen and (max-width: 768px) {
     .card {
         min-height: 30em;
     }
     .arrowsContainer{
         display: none;
     }
     .market p {
         font-size: 10px;
         font-weight: 600;
     }
     .card p {
         font-size: 12px;
         font-weight: 700;
     }
     .card button {
         font-size: 12px;
         font-weight: 800;
     }
     .container{
         width: 100%;
     }
 }