.box {
    height: 60px;
    width: 275px;
    position: relative;
    display: grid;

}

.input{
    border: 1px solid #cabaff;

    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .box {
        height: 2.6em;
        width: 100%;

    }
}