.Header {
    height: 32px;
    position: relative;
    width:inherit;
    margin: 1.5em auto 0;
    max-width: 1160px;
}

.Header .header {
    background-color: transparent;
    height: 32px;
    position: relative;
    width: 100%; /* Изменено на процентное значение */
    left: 0;
    text-align: center; /* Добавлено для центрирования текста */
}

.Header .text-wrapper {
    color: #2a2f33;
    font-family: "Despair Display-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 17px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
    white-space: nowrap;
}

.Header .place {
    height: 20px;
    float: right;
    position: relative;
    top: 10px;


    width: 242px;
}



.Header .div {
    color: #2a2f33;
    font-family: "Gilroy", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 11px;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #2a2f33;
}
.Header .div:hover{
    color: #8338EC;
    text-decoration-color: #8338EC;
}
.Header .text-wrapper-2 {
    color: #2a2f33;
    font-family: "Gilroy", Helvetica;
    font-size: 16px;
    font-weight: 600;
    height: 11px;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    white-space: nowrap;
}


.Header .location {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
    float: right;
}

.Header .frame {
    align-items: center;
    background-color: #cabaff;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    height: auto;
    justify-content: center;
    left: 194px;
    overflow: hidden;
    padding: 12px 17px;
    position: absolute;
    top: 0;
    width: auto;
}

.Header .text-wrapper-3 {
    color: #2a2f33;
    font-family: "Gilroy", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

